/* Shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Banner Styles*/
.banner {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px 0 150px;
}

.banner-content {
    max-width: 500px;
}

.banner-content h1 {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
    line-height: normal;
}

.banner-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 20px 0;
}

.banner img {
    max-width: 450px;
}

/* Button Styles */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 35px;
}

/* Featured Section css */

.featured-content {
    padding: 120px 0 0 0;
    justify-content: center;
    text-align: center;
}

.featured-content h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    line-height: 32px;
}

.featured-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 20px 0;
}

.featured-image {
    display: flex;
    justify-content: center;
    text-align: center;
}

.featured-image1 img {
    padding: 50px 30px 0 30px;
    margin: 10px;
    height: 300px;
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-image2 img {
    padding: 50px 30px 0 30px;
    margin: 10px;
    height: 300px;
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-image3 img {
    padding: 50px 30px 0 30px;
    margin: 10px;
    height: 300px;
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-image h3 {
    margin-top: 18px;
    color: #272727;
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
}